@{
    ViewBag.Title = "";
}

<div class="jumbotron" style="background: url(../Resources/back1.jpeg) 100% 100%; background-size: cover;">
    <p style="text-align:center">
        <img src="~/Resources/logof1.tif" width="200" height="200">
    </p>
 
        <p class="V">VECTORS VECTORS</p>
        <p class="txt">Веб-приложение, предназначенное для самостоятельного изучения раздела математики "Векторное исчисление" и проверки полученных знаний.</p>
  
    <div class="bt_t">
        <a class="btn btn-default" href="http://localhost:59510/Home/Teoria"><img src="~/Resources/book.svg" style="vertical-align:middle" height="40" width="40" />   Теория </a>
        <a class="btn btn-default" href="http://localhost:59510/Home/Test"><img src="~/Resources/list.svg" style="vertical-align:middle" height="40" width="40" />   Практика </a>
    </div>
</div>
