@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = " – Теория";
}
<div class="jumbotron">
    <h2>Теория</h2>
    <p>Собственно теория и т.д. и т.п.</p>


    

    <label class="link" for="hider" id="clickme">Пример</label>
    <input type="checkbox" id="hider">
    <div class="content"><img src="~/Resources/back2.jpeg" width="100" height="100"/></div>

</div>